.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: var(--var-gold);
  margin-top: 30px;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.navbar ul li {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 5px;
}

.navbar ul li:hover {
  background-color: var(--var-gold);
  color: white;
}
