.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: var(--var-gray);
}

.top span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  font-size: 2rem;
}

.icon {
  font-size: 5rem;
}

.top button {
  color: var(--var-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid var(--var-gold);
  border-radius: 5px;
  background: transparent;
}

.top button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--var-gold);
}

.top button span {
  font-size: 2rem;
}

.top button span:nth-child(3) {
  color: white;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  background-color: var(--var-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 30px;
}

@media (max-width: 750px) {
  .top button span:nth-child(2) {
    display: none;
  }
}
