.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  color: var(--var-gray);
  font-size: 2rem;
}

.top > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.top button {
  color: var(--var-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  background-image: url("./img/cart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -3px 1px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.top button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.top button span {
  font-size: 3rem;
}

.top button span.icon-number {
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .top button {
    width: 60px;
    height: 60px;
  }

  .top button span.icon-number {
    font-size: 0.8rem;
  }
}
