:root {
  --var-gray: #102a42;
  --var-gold: #c59d5f;
}

/* Items */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 20px;
  width: 85vw;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  max-width: 1300px;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: 0.6fr;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 100vw;
    gap: 70px;
  }
}
