.main-container {
  width: 90vw;
  margin: 0 auto;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #ffff00;
  flex-grow: 1;
}

.menu-bar {
  background-color: red;
  flex-grow: 1;
}

.menu {
  background-color: violet;
  flex-grow: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.menu div {
  background-color: blue;
}

@media (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
